.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    height: 101px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    position: fixed;

    &__container {
        max-width: 290px;
        margin: 0;
        position: relative;
        width: 100%;
    }

    &__menu-burger {
        position: fixed;
        top: 45px;
        left: 85%;
        min-width: 34px;
        min-height: 19px;
        display: block;
        z-index: 900;
    }

    &__toggle {
        width: 39px;
        height: 39px;
    }

    &__logo {
        display: block;
        position: fixed;
        top: 36px;
        left: 14px;
    }

    &__nav {
        transform: translateY(-100%);
        transition: 0.3s;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $white;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;

        &:after {
            content: '';
            top: 90px;
            left: 15px;
            background-color: $bgr-line;
            height: 1px;
            width: 90%;
            position: absolute;
        }
    }

    &__button {
        width: 291px;
        min-height: 65px;
        box-sizing: border-box;
        border: 2px solid $black-title;
        border-radius: 5px;
        margin: 70px 0px 20px 15px;
    }

    &__link {
        display: block;
        font-size: 20px;
        line-height: 30px;
        color: $black;
        padding: 17px 101px;
    }
}

@media (min-width: $mobile-l) {
    .header {
        &__container {
            max-width: 511px;
        }

        &__menu-burger {
            top: 54px;
        }

        &__button {
            width: 330px;
            margin: 80px 0px 20px 33px;
        }

        &__link {
            padding: 18px 116px;
        }

        &__menu {

            &::after {
                top: 110px;
                left: 33px;
                width: 85%;
            }
        }
    }
}

@media (min-width: $laptop) {
    .header {

        &__container {
            margin: 0 auto;
            max-width: 937px;
        }

        &__menu-burger {
            display: none;
        }

        &__nav {
            background-color: inherit;
            width: 100%;
            height: auto;
            display: flex;
            overflow: hidden;
            transform: rotateY(0);
            padding: 40px 31px 20px 31px;
        }
        
        &__menu {
            flex-direction: row;
            margin: 0px 40px 0px 0px;
        }

        &__logo {
            display: none;
        }

        &__button {
            border-radius: 5px;
            width: 160px;
            min-height: 50px;
            margin: -10px 0px 0px 0px;
        }

        &__link {
            padding: 11px 40px;
            font-size: 18px;
            line-height: 27px;
        }
    }
}

.menu {

    &__item {
        padding: 48px 0px 0px 14px;

        &:first-child {
            padding: 36px 0px 0px 14px;
        }
        
    }

    &__link {
        display: block;
        font-family: "Poppins-Medium", "Arial", sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 295%;
        color: $black-title;
    }
}

@media (min-width: $mobile-l) {
    .menu {
        
        &__item {
            padding: 48px 0px 0px 33px;

            &:first-child {
                padding: 48px 0px 80px 33px;
            }
        }

        &__link {
            font-size: 24px;
            line-height: 271%;
        }
    }
}

@media (min-width: $laptop) {
    .menu {
        &__item {
            padding: 0px 29px 0px 0px;

            &:first-child {
                padding: 0px 167px 0px 0px;
            }
        }

        &__link {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.active {
    transform: translateY(0);
    transition: 0.3s;
}

.burger-open {
    content: '';
    top: 0;
    left: 0;
    height: 3px;
    width: 25px;
    background-color: $burger-color;
    border-radius: 20px;
    display: block;
    position: absolute;
    z-index: 20;
    cursor: pointer;
    transform: rotate(135deg);
    transition: 0.4s;

        &::before {
            content: '';
            top: 0;
            left: 0;
            height: 3px;
            width: 25px;
            background-color: $burger-color;
            border-radius: 20px;
            position: absolute;
            transform: rotate(-270deg);
            transition: 0.4s;
        }
}

.burger-close {
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: $burger-color;
    margin: 0 auto;
    border-radius: 1px;
    z-index: 20;
    cursor: pointer;

        &::before, &::after {
            content: '';
            left: 0;
            background-color: $burger-color;
            height: 3px;
            border-radius: 1px;
            position: absolute;
        }

        &::before {
            top: 7px;
            width: 100%;
        }

        &::after {
            top: 14px;
            width: 24px;
        }

        &:active {
            background-color: $gray-text;
        }
}