.link-block {

    &__title {
        margin-bottom: 21px;
        @extend %montserrat;
        font-size: 30px;
        line-height: 120%;
        color: #333;
    }
}

.button {
    padding: 20px 25px;
    background-color: #8D4FDB;
    border-radius: 3px;
    @extend %montserrat;
    font-size: 10px;
    line-height: 300%;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;

    &:hover {
        background-color: #8e4fdbb4;
    }

    &:focus {
        text-decoration: underline;
    }

    &:active {
        background-color: #333;
    }
}

.articles {

    &__block {
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 99px;
    }

    &__link-block {
        background-color: #F1F1F1;
        text-align: center;
        min-height: 211px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
}

.card {

    &__img-block {
        position: relative;
        min-height: 330px;
        background-color: #333;
    }

    &__bgr {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        max-width: 800px;
        width: 100%;
        height: auto;
        max-height: 330px;
        object-fit: cover;
    }

    %cardposition {
        position: relative;
        z-index: 2;
    }

    &__topic {
        @extend %cardposition;
        top: 10px;
        left: 90%;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        max-width: max-content;
        hyphens: auto;
        word-break: break-word;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        

        span {
            padding: 5px 10px;
            text-align: center;
            align-content: center;
            @extend %montserrat;
            font-size: 8px;
            line-height: 300%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
            max-width: 130px;
        }
    }

    &__topic-big {
        left: 85%;
    }

    &__user-block {
        @extend %cardposition;
        top: 120px;
        left: 60px;
        max-width: 300px;
        display: grid;
        grid-template-columns: 40px 250px;
        grid-template-rows: 40px 10px;
        column-gap: 14px;
    }

    &__title {
        @extend %cardposition;
        top: 140px;
        left: 60px;
        @extend %montserrat;
        font-size: 28px;
        line-height: 125%;
        color: #FFFFFF;
        max-width: 500px;
    }

    &__text-block {
        background-color: #fff;
        padding-bottom: 35px;
    }

    &__text {
        @extend %lato;
        font-size: 18px;
        line-height: 139%;
        color: #333;
        padding: 36px 60px 10px;
    }

    &__link {
        @extend %lato;
        font-size: 17px;
        line-height: 176%;
        color: #8d4fdb;
        padding: 0px 60px 35px;

        &:focus {
            text-decoration: underline;
        }
    }
}
.user-block {

    &__img {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        grid-row: 1/3;
    }

    &__name {
        @extend %montserrat;
        font-size: 18px;
        line-height: 106%;
        color: #fff;
    }

    &__date {
        @extend %lato;
        margin-top: -20px;
        font-size: 13px;
        line-height: 146%;
        color: #fff;
    }
}

@media (max-width: $tablet) {
    .card {
        %tabletcardposition {
            position: static;
            top: 0;
            left: 0;
        }

        &__bgr {
            @extend %tabletcardposition;
        }

        &__img-block {
            min-height: min-content;
        }

        &__topic {
            left: 80%;
        }

        &__user-block {
            max-width: 200px;
            @extend %tabletcardposition;
            padding-left: 20px;
            padding-top: 10px;
        }

        &__title {
            max-width: 400px;
            @extend %tabletcardposition;
            padding-bottom: 20px;
            padding-left: 20px;
        }

        &__text-block {
            padding-bottom: 20px;
        }
    }
}

@media (max-width: $mobile-l) {
    .card {
        &__topic-big {
            left: 65%;
        }

        &__title {
            max-width: 300px;
        }
    }
}

@media (max-width: $mobile-s) {
    .card {
        &__topic {
            left: 75%;
        }

        &__topic-big {
            left: 60%;
        }

        &__title {
            max-width: 250px;
        }
    }
}
