.main {

    &__stories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
}
.stories {
    &__title {
        @extend %montserrat;
        font-size: 40px;
        line-height: 100%;
        text-align: center;
        color: #333333;
        margin-top: 85px;
        margin-bottom: 25px;
    }
    
    &__text {
        @extend %lato;
        font-size: 23px;
        line-height: 143%;
        text-align: center;
        color: #A9AFB3;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin-bottom: 60px;
    }

    &__item-card {
        max-width: 300px;
        margin: 0px 20px 20px 0px;

        &:nth-child(3n) {
            margin: 0px 0px 20px 0px;
        }
    }

    &__text-link {
        @extend %lato;
        font-size: 15px;
        line-height: 200%;
        text-align: center;
        color: #333333;
    }

    &__link {
        color: #8D4FDB;

        &:focus {
            text-decoration: underline;
        }
    }

    &__title-link {
        color: #000;
        &:hover {
            opacity: .5;
        }

        &:active {
            color: #333;
        }

        &:focus {
            text-decoration: underline;
        }
    }
}

.item-card {

    &__img-block {
        max-width: 300px;
        min-height: 190px;
    }

    &__bgr {
        max-width: 300px;
        min-height: 190px;
        object-fit: cover;
        border-radius: 3px;
        position: absolute;
    }

    &__user-block {
        position: relative;
        z-index: 2;
        top: 130px;
        left: 25px;
        display: grid;
        grid-template-columns: 40px 250px;
        grid-template-rows: 40px 10px;
        column-gap: 8px;
    }

    &__title {
        margin-top: 23px;
        max-width: 250px;
    }
}

@media (max-width: $mobile-l) {
    .stories {
        &__item-card {
            margin: 0px 10px 20px 10px;

            &:nth-child(3n) {
                margin: 0px 10px 20px 10px;
            }
        }
    }
}
