body {
    background-color: $white;
    font-family: "Poppins-Medium", "Arial", sans-serif;
    font-size: 13px;
    line-height: 19px;
}

.lock {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.container {
    max-width: 290px;
    margin: 0 auto;
    padding: 0px 15px;
}

@media (min-width: $mobile-l) {
    .container {
        max-width: 511px;
    }
}

@media (min-width: $tablet) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: $laptop) {
    .container {
        max-width: 937px;
    }
}

@media (min-width: $desktop) {
    .container {
        max-width: 1342px;
    }
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}