/*----------------------------Colors---------------------------------*/
$white: #fff;
$black: #000;
$gray-text: #8F95A5;
$black-title: #263238;
$black-number: #2A3246;
$white-bgr: #EEEEEE;
$bgr-color:#E5E5E5;
$bgr-line: #C4C4C4;
$burger-color: #39515E;